body {
  background-color: grey;
}
.search {
  width: 50%;
  text-align: center;
  position: relative;
  display: block;
  margin: auto;
  padding: 2rem;
}

.searchTerm {
  text-align: center;
  width: 100%;
  border: 3px solid #6A00F5;
  padding: 5px;
  height: 2rem;
  border-radius: 3px;
  outline: none;
  font-size: 1.5rem;
}

.game-grid {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  padding: 20px;
  height: 300px; 
}

.game-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 10px;
  opacity: 0.5;
}

.game-grid div.selected {
  transform: scale(1.2);
  opacity: 1;
}

.selected-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  margin: 20px auto;
}

.game-details {
  text-align: center;
}

.game-title {
  text-align: center;
}

.selected-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.selected-game img {
  margin: 0 50px;
}

.game-grid img,
.selected-game img {
  width: 100%;
  object-fit: contain;
}

.header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.header h1 {
  color: #343a40;
}

.header h2 {
  color: #6c757d;
}

.header ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.header li {
  margin: 0 10px;
}
